<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to "Show this comment", comment %>
    </p>
  <% end %>
</div>
  <%# <%== pagy_next_link(@pagy, text: 'Next page', link_extra: 'id="next_link"') %> %>
  <div id="load_more_button">
  <%= button_to "Load more", pagy_url_for(@pagy, @pagy.next) %>
  </div>
<%= link_to "New comment", new_comment_path %>
